/* here you can put your own css to customize and override the theme */

.is-input-invalid {
    border-color: #dc3545 !important;
}

.is-input-valid {
    border-color: transparent;
}

.text-danger {
    color: #dc3545 !important;
    position: absolute;
}

.form-text {
    display: block;
    margin-top: 1px;
    margin-bottom: 10px;
}

.m-menu.list-group a::before {
    content: "ÔÅî";
    font-size: 8px;
    padding-right: 10px;
    position: relative;
    top: -1px;
    font-family: FontAwesome !important;
}

@media (max-width: 1199.98px) {
    .container {
        width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}